.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #20232f;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.header {
  margin-left: 2%;
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.content {
  font-size: 14px;
}

.g0 {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.g1 {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.g2 {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.g3 {
  background: linear-gradient(to right, lime 0%, LightSeaGreen 100%);
}
